TABLE {
	BORDER-RIGHT: #000000; BORDER-TOP: #000000; FONT-SIZE: 9pt; BORDER-LEFT: #000000; COLOR: #000000; LINE-HEIGHT: 20px; BORDER-BOTTOM: #000000; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: red#000000; COLOR: #000000; BORDER-TOP-COLOR: #cc0000; LINE-HEIGHT: 20px; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #000000
}
BODY {
	BORDER-RIGHT: #000000; BORDER-TOP: #000000; FONT-SIZE: 9pt; BORDER-LEFT: #000000; BORDER-BOTTOM: #000000; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #ff0000; LINE-HEIGHT: 20px; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.txt {
	BORDER-RIGHT: #666699 1px double; BORDER-TOP: #666699 1px double; BORDER-LEFT: #666699 1px double; BORDER-BOTTOM: #666699 1px double
}
.2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-INDENT: 20px; BACKGROUND-COLOR: #666699; TEXT-ALIGN: center
}
.gao25 {
	LINE-HEIGHT: 30px
}
.bianxian {
	BORDER-RIGHT: #000000 1px double; BORDER-TOP: #000000 0px double; BORDER-LEFT: #000000 0px double; BORDER-BOTTOM: #000000 1px double
}
.bianxian1 {
	BORDER-RIGHT: #000000 0px dotted; BORDER-TOP: #000000 1px dotted; BORDER-LEFT: #000000 1px dotted; BORDER-BOTTOM: #000000 0px dotted
}
.unnamed1 {
	LINE-HEIGHT: 30px
}
.u {
	TEXT-DECORATION: underline
}
BODY {
	SCROLLBAR-FACE-COLOR: #E81818; SCROLLBAR-HIGHLIGHT-COLOR: #FF0080; SCROLLBAR-SHADOW-COLOR: #D00068; SCROLLBAR-3DLIGHT-COLOR: #828282; SCROLLBAR-ARROW-COLOR: #797979; SCROLLBAR-TRACK-COLOR: #FFFFFF; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}